header {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
}
body {
  background-color: black;
}
video {
  /*display: block;*/
  margin: auto;
}
#video {
  display: inline-block;
  margin: auto;
  vertical-align: top;
  float: left;
}
#audio {
  display: block;
  vertical-align: top;
  margin: auto;
  float: right;
}
#sc-logo {
  width: 32px;
  height: 32px;
  display: inline;
  position: relative;
}
#sc-widget {
  margin-left: 545px;
  padding-left: 5px;
  width: 50%;
  height: 10%;
  display: inline;
  position: relative;
}
#widget > div.cookiePolicy.sc-background-light {
  text-decoration-color: white;
}
