header {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
  font-family: Arial;
  letter-spacing: 0.0625em;
  font-weight: bold;
}
body {
  background-color: black;
}
video {
  margin: auto;
  height: 100%;
  width: 100%;
}
#video {
  margin: auto;
  vertical-align: top;
  margin: 0 auto;
  width: 50%;
  height: 500px;
  width: 500px;
}
#audio {
  vertical-align: top;
  margin: 0 auto;
  width: 50%;
}
#sc-logo {
  width: 32px;
  height: 32px;
  padding-left: 25px;
}
#footer {
  color: #A6B0B0;
  font-size: 85%;
  font-family: Arial;
  float: right;
  padding-top: 10px;
  padding-left: 25px;
}
#footer a, #footer a:visited {
  color: #A6B0B0;
}
